 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital@0;1&display=swap');

 /*Asterisk wildcard selector to override default styles added by the browser */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* General styles */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /*generic project styles*/
     color: #000000;
     font-family: 'Fira Sans', sans-serif;
 }

 /* Header */
 header {
     background-color: #ffffff;
     padding: 0 1rem;
     position: fixed;
     z-index: 99;
     width: 100%;
     box-shadow: 0 2px 2px #3a3a3a;
     display: flex;
     justify-content: space-between;
     align-items: baseline;
 }

 header img {
     max-height: 100%;
     max-width: 90%;
     padding-top: 10px;
 }

 header a {
     text-decoration: none;
     color: inherit
 }

 #menu {
     font-size: 100%;
     letter-spacing: 4px;
     list-style-type: none;
 }

 #menu>li {
     margin-bottom: 1em;
 }

 .active {
     border-bottom: 1px solid #3a3a3a;
 }

 /*Navbar styles with drodown toggle*/
 nav {
     position: absolute;
     background-color: #fafafa;
     width: 100%;
     left: 0;
     padding: 0 1rem;
     box-shadow: 0 2px 2px #3a3a3a;
     display: none;
     top: 100%;
 }

 /* Nav toggle */
 #nav-toggle:checked~nav {
     display: block;
 }

 #nav-toggle {
     display: none;
 }

 .nav-toggle-label {
     font-size: 2.25rem;
     color: #77C0DB;
 }

 /* Main content */
 main {
     /* Make main element take up any surplus space to push footer down */
     flex: 1 0 auto;
     margin-top: 76px;
 }

 /* Hero section */
 #hero {
     height: 600px;
     width: 100%;
     background: url("../images/hero-image.jpg") no-repeat center center/cover;
     position: relative;
 }

 #cover-text>h2,
 #cover-text>h3 {
     font-family: 'Arsenal', sans-sarif;
     color: #fafafa;
 }

 #cover-text {
     background-color: rgba(58, 58, 58, 0.50);
     font-size: 100%;
     position: absolute;
     bottom: 250px;
     width: 60%;
     min-height: 100px;
     padding-top: 40px;
     padding-left: 10px;
 }

 /* Discover section */

 #intro-text {
     font-size: 85%;
     padding: 15px 15px;
     text-align: center;
 }

 #flex-container-discover {
     display: flex;
     flex-direction: column;
     align-items: stretch;
     padding: 15px;
     font-size: 90%;
     text-align: center;
     justify-content: space-between;
 }

 #flex-container-discover div {
     border-radius: 10px;
     /* background-color: rgba(119, 192, 219, 0.8); */
     padding-top: 20px;
     padding-bottom: 10px;
     margin: 10px 5px 0;
     border-radius: 15px;
     border: 4px solid #344A53;
     background-color: #77C0DB;
 }

 #flex-container-discover img {
     display: block;
     width: 150px;
     height: 150px;
     margin-right: auto;
     margin-left: auto;
     border-radius: 50%;
     border: 4px solid #fafafa;
 }

 #flex-container-discover h3 {
     color: #fafafa;
 }

 #flex-container-discover p {
     padding: 15px 15px;
 }

 #flex-container-discover a {
     text-decoration: none;
     color: #fafafa;
     font-weight: 600;
 }

 /* Contact Form */

 #contact {
     background: url("../images/nm-sunset.jpeg") no-repeat center center/cover;
 }

 #contact-form {
     color: #fafafa;
     background-color: rgba(58, 58, 58, 0.60);
     font-size: 90%;
     padding: 10px;
 }

 #contact-form>h2 {
     text-align: center;
     margin-bottom: 10px;
 }

 .text-input {
     background: transparent;
     color: #ffffff;
     width: 100%;
     height: 20px;
     margin: 5px 0 10px 0;
     border: 1px solid #fafafa;
     border-radius: 2px;
     padding: 0 5px;
 }

 .radio-buttons {
     width: 100%;
     padding: 0 5px;
     margin: 10px 0 20px 0;
 }

 .contact-button {
     margin-top: 10px;
     border-radius: 4px;
     padding: 5px 10px;
     font-size: 100%;
     background-color: #77C0DB;
     color: #fafafa;
 }

 /* Footer */
 #social-networks {
     text-align: center;
     padding: 20px 0;
     display: flex;
     justify-content: space-evenly;
     list-style-type: none;
 }

 #social-networks i {
     font-size: 160%;
     padding: 5%;
     color: #77C0DB;
 }

 /* History Page */

 #history-header {
     background: url("../images/nm-history.jpg") no-repeat center center/cover;
     height: 200px;
     width: 100%;
     position: relative;
 }

 #history-header div {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 200px;
     color: #fafafa;
     font-family: 'Arsenal', sans-sarif;
     background-color: rgba(58, 58, 58, 0.40);
 }

 /* History Timeline */

 /* The actual timeline (the vertical ruler) */
 #timeline {
     position: relative;
     max-width: 100%;
     margin: 0 auto;
     background-color: #344A53;
     font-size: 80%;
     padding-top: 20px;
     padding-bottom: 20px;
     text-align: center;
 }

 #timeline h2 {
     color: #77C0DB;
     text-align: center;
 }

 /* The actual timeline (the vertical ruler) */
 #timeline::after {
     content: '';
     position: absolute;
     width: 6px;
     background-color: white;
     top: 0;
     bottom: 0;
     left: 31px;
     margin-left: -3px;
 }

 /* Container around content */
 .container {
     position: relative;
     background-color: inherit;
 }

 /* The circles on the timeline */
 .container::after {
     content: '';
     position: absolute;
     width: 25px;
     height: 25px;
     right: -17px;
     background-color: white;
     border: 4px solid #77C0DB;
     top: 15px;
     border-radius: 50%;
     z-index: 1;
 }

 /* Place the container to the left */
 .left {
     left: 0;
 }

 /* The actual content */
 .timeline-content {
     padding: 5px 10px;
     background-color: white;
     position: relative;
     border-radius: 6px;
 }

 /* Visiting Page */

 #visiting-header {
     background: url("../images/nm-map.jpeg") no-repeat center center/cover;
     height: 200px;
     width: 100%;
     position: relative;
 }

 #visiting-header div {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 200px;
     color: #fafafa;
     font-family: 'Arsenal', sans-sarif;
     background-color: rgba(58, 58, 58, 0.40);
     letter-spacing: 4px;
 }

 /* Visiting Info Boxes */

 .place-wrapper {
     background-color: #77C0DB;
     padding: 20px;
     text-align: center;
     font-size: 100%;
 }

 .intro {
     text-align: center;
     font-size: 100%;
     color: #fafafa;
     padding: 20px;
 }

 #place {
     max-width: 100%;
     padding: 25px;
     border-radius: 15px;
     border: 4px solid #344A53;
     margin-bottom: 20px;
     text-align: center;
     font-size: 80%;
     background-color: #fafafa;
 }

 #place img {
     width: 100%;
     height: 100%;
 }

 #place h2,
 #place h3 {
     color: #77C0DB;
     font-weight: 600;
 }


 /* Media query: mobile phones and screen (767px and smaller) */
 @media only screen and (max-width: 767px) {

     /* Timeline History page */

     /* Container around content */
     .container {
         padding-left: 70px;
         padding-right: 25px;
         width: 100%;
         margin: 20px auto;
     }

     /* Make sure that all arrows are pointing leftwards */
     .container::before {
         content: " ";
         height: 0;
         position: absolute;
         top: 22px;
         width: 0;
         z-index: 1;
         left: 60px;
         border: medium solid white;
         border-width: 10px 10px 10px 0;
         border-color: transparent white transparent transparent;
     }

     /* Make all right containers behave like the left ones */
     .right {
         left: 0%;
     }

     /* Make sure all circles are at the same spot */
     .left::after,
     .right::after {
         left: 15px;
     }

 }

 /* Media query: tablets and larger (768px and up) */
 @media screen and (min-width: 768px) {
     header img {
         max-height: 100%;
         max-width: 100%;
         line-height: 75px;
     }

     nav {
         display: block;
         position: relative;
         width: fit-content;
         padding-right: 1rem;
         box-shadow: none;
     }

     #menu {
         display: flex;
         font-size: 90%;
     }

     #menu>li {
         padding-left: 1.5rem;
     }

     .nav-toggle-label {
         display: none;
     }

     /* Main content */
     main {
         /* Make main element take up any surplus space to push footer down */
         margin-top: 94px;
     }

     /* Hero */
     #cover-text {
         width: 40%;
         font-size: 150%;
     }

     /* Discover Section */

     #intro-text {
         font-size: 100%;
         padding: 15px 15px;
         text-align: center;
     }

     #flex-container-discover {
         display: flex;
         flex-direction: row;
         text-align: center;
         padding: 20px 10px;
         font-weight: 500;
         justify-content: space-evenly;
     }

     #flex-container-discover div {
         flex: 0 27%;
     }

     #flex-container-discover img {
         width: 150px;
         height: 150px;
     }

     /* Contact */

     #contact {
         background-position: center;
         position: relative;
     }

     #contact-form {
         max-width: 400px;
         align-items: center;
         padding: 40px;
         font-size: 115%;
         margin: 0 auto;
     }

     /* Timeline*/

     #timeline {
         position: relative;
         max-width: 100%;
         margin: 0 auto;
         font-size: 90%;
     }

     #timeline::after {
         left: 50%;
     }

     .container {
         padding: 10px 40px;
         width: 50%;
     }

     /* Place the container to the right */
     .right {
         left: 50%;
     }

     /* Add arrows to the left container (pointing right) */
     .left::before {
         content: " ";
         height: 0;
         position: absolute;
         top: 22px;
         width: 0;
         z-index: 1;
         right: 30px;
         border: medium solid white;
         border-width: 10px 0 10px 10px;
         border-color: transparent transparent transparent white;
     }

     /* Add arrows to the right container (pointing left) */
     .right::before {
         content: " ";
         height: 0;
         position: absolute;
         top: 22px;
         width: 0;
         z-index: 1;
         left: 30px;
         border: medium solid white;
         border-width: 10px 10px 10px 0;
         border-color: transparent white transparent transparent;
     }

     /* Fix the circle for containers on the right side */
     .right::after {
         left: -16px;
     }

     .timeline-content {
         padding: 20px 30px;

     }

     /* Visiting Page */
     .place-wrapper {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;
         font-size: 120%;
         padding: 10px;
     }

     #place {
         width: 45%;
     }

     #place-image {
         height: 202px;
         overflow: hidden;
         display: flex;
         align-items: center;
         justify-content: center;
     }

 }


 /* Large devices (laptops and desktops, 992px and up) */
 @media screen and (min-width: 992px) {
     #menu a:hover {
         border-bottom: 1px solid #77C0DB;
     }

     #history-header {
         height: 500px;
     }

     #history-header div {
         height: 500px;
         font-size: 200%;
     }

     #visiting-header {
         height: 500px;
     }

     #visiting-header div {
         height: 500px;
         font-size: 200%;
     }

     #place {
         width: 30%;
     }

     #contact {
         background-position: right;
         /* position: relative; */
     }

     #contact-form {
         max-width: 50%;
         /* align-items: center; */
         /* margin: 0 auto; */
         /* padding: 40px;
         font-size: 115%; */
     }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     header img {
         max-height: 70%;
         max-width: 70%;
     }

     /* Hero */
     #cover-text {
         width: 30%;
         font-size: 200%;
         bottom: 100px;
     }

 }